@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }
  .scrollbar::-webkit-scrollbar-corner {
    @apply bg-gray-100;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-900/40;
    border-radius: 100vh;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-900/100;
  }
}

.background-animate {
  background-size: 400%;

  -webkit-animation: backgroundAnimation 3s ease infinite;
  -moz-animation: backgroundAnimation 3s ease infinite;
  animation: backgroundAnimation 3s ease infinite;
}

@keyframes backgroundAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.Resizer {
  background: grey;
  opacity: 0.8;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer:hover {
  transition: all 2s ease;
}

.Resizer.vertical {
  width: 12px;
  margin: 0;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 30vh solid black;
  border-top: 30vh solid black;
  cursor: col-resize;
}

.Resizer.vertical:hover,
.Resizer.vertical.resizing {
  border-left: 4px solid rgb(48, 48, 48);
  border-right: 4px solid rgb(48, 48, 48);
  border-bottom: 30vh solid rgb(48, 48, 48);
  border-top: 30vh solid rgb(48, 48, 48);
}

.DragLayer {
  z-index: 1;
  pointer-events: none;
}

.DragLayer.resizing {
  pointer-events: auto;
}

.DragLayer.horizontal {
  cursor: row-resize;
}

.DragLayer.vertical {
  cursor: col-resize;
}
